/* Smooth Transition Animation */
.slide {
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  }
  
  .slide:hover {
    transform: scale(1.1);
  }
  
  /* Add animation for the active slide */
  .slick-slide {
    opacity: 0.5;
    transform: translateX(30px);
  }
  
  .slick-active {
    opacity: 1;
    transform: translateX(0px);
  }
  